* {
    box-sizing: border-box;
  }

  body {
    background-color: #edf3f1;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .big-val {
    font-size: 26px;
    margin: 10px;
    padding: 5px;
  }

  button {
    padding: 2px;
    margin: 10px;
    border: none;
    letter-spacing: 1.2px;
    background: none;
    cursor: pointer;
    font-size: 20px
  }

  img {
    width: 200px;
    height: 200px;
  }

  h3 {
    margin: 5px;
    padding: 10px;
    font-size: 40px;
  }
